

    <main class="main">
        <%- include('../partials/userheader.ejs')%>

        <div class="intro-slider-container mb-4">
            <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "responsive": {
                        "992": {
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
                <div class="intro-slide" style="background-image: url(/images/demos/demo-11/slider/slide-1.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle text-primary">SEASONAL PICKS</h3>
                        <h1 class="intro-title">Get All <br>The Good Stuff</h1>

                        <a href="category.html" class="btn btn-outline-primary-2">
                            <span>DISCOVER MORE</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="intro-slide" style="background-image: url(/images/demos/demo-11/slider/slide-2.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle text-primary">all at 50% off</h3>
                        <h1 class="intro-title text-white">The Most Beautiful <br>Novelties In Our Shop</h1>
                        <a href="category.html" class="btn btn-outline-primary-2 min-width-sm">
                            <span>SHOP NOW</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <span class="slider-loader"></span>
        </div>

        <div class="container">
            

            <div class="widget-filter-area" id="product-filter-area">

                <div class="filter-area-wrapper">
                    <div class="row">
                      
                    </div><!-- End .row -->
                </div><!-- End .filter-area-wrapper -->
            </div><!-- End #product-filter-area.widget-filter-area -->
            
            <div class="products-container" data-layout="fitRows">
                <div class="product-item furniture col-6 col-md-3 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="images/demos/demo-11/products/product-1.jpg" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">Flow Slim Armchair</a></h3><!-- End .product-title -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->




                    
                </div><!-- End .product-item -->


                <div class="product-item furniture col-6 col-md-3 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="images/demos/demo-11/products/product-1.jpg" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">Flow Slim Armchair</a></h3><!-- End .product-title -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    
                </div><!-- End .product-item -->


                <div class="product-item furniture col-6 col-md-3 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="images/demos/demo-11/products/product-1.jpg" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">Flow Slim Armchair</a></h3><!-- End .product-title -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    
                </div><!-- End .product-item -->

               
        </div><!-- End .more-container -->
    </main><!-- End .main -->

    <%- include('../partials/userfooter.ejs')-%>