<%- include('../partials/userheader.ejs')%> 
 <%- include('../layouts.ejs')%>

<main class="main">
    <div class="error-content text-center" style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
        <div class="container">
            <h1 class="error-title">Order Successful</h1>
            <p>Thanks for shopping with us !!!</p>
            <a href="/home" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div> 
</main>

<%- include('../partials/userfooter.ejs') %>