<%- include('../partials/userheader.ejs')%>
<%- include('../layouts.ejs')%>

<section class="vh-100">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow">
            <div class="card-body p-4 text-center">
              <h3 class="mb-4"></h3>
              <form action="/newPassword"id="formSubmition"method="post" >
                <div class="form-outline mb-2">
                  <input type="password" id="password" name="password" placeholder="Password" class="form-control" onblur="passwordValidate()" >
                  <div style="display: flex;flex:end ;"><p id="emailerror" style="color:red; margin-left: 0px;"></p></div>
                </div>
                <div class="form-outline mb-2">                  
                  <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" onblur="passwordValidate()">
                  <div style="display: flex;flex:end ;"><p id="passworderror" style="color: red; margin-left: 0px;"></p></div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Reset</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script src="./js/validation.js"></script>

<%- include('../partials/userfooter.ejs') %>
